{% extends "blog/base.html" %}

{% block content %}
<div class="col-md-6">
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">This is text</a>
          <small class="text-muted">This is also some text</small>
        </div>
        <h2><a class="article-title" href="#">Do not click me i am not a link</a></h2>
        <p class="article-content">Click me i am a link</p>
      </div>
    </article>
     <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">This is text</a>
          <small class="text-muted">This is also some text</small>
        </div>
        <h2><a class="article-title" href="#">Do not click me i am not a link</a></h2>
        <p class="article-content">cLick me i am a link</p>
      </div>
    </article>


</div>
{% endblock content %}
