
{% extends "blog/base.html" %}

{% block content %}
<!--<div class="container">
  <div class="row">
    -->
    <div class="col-md-1">

    </div>
    <div class="col-md-6">
      <div class="main">
        <div class="modal-content" style="border:none;">
            <div style="padding: 0 10px;">
               <h4 class="modal-title" style="border-bottom: 1px solid lightgrey;" >Log In</h4>
            </div>
            <div class="modal-body">
              <label>Username</label>
              <br><input type="text" name="name">
              <br><label>Password</label>
              <br><input type="Password" name="pass"><br>
              <br><button type="button" class="btn btn-outline-info" style="width: 20%;max-width: 20%;">Log In</button>
            </div>

        <div class="modal-footer" style="margin-left: 1rem;margin-right: 1rem;">
          <p style="position: absolute;left: 6px;word-wrap: break-word;padding-left: 0.5rem;">Need an account? <a href="#" data-target="#form" data-toggle="modal" style="color: lightblue;">Sign In </a></p>
        </div>
      </div>
      </div>
    </div>


{% endblock content %}
